<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Advanced Form Elements
        <small>Preview</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Advanced Elements</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">

        <!-- /.box-header -->
        <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Bordered Table</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered">
                  <tbody><tr>
                    <th style="width: 10px">#</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Progress</th>
                    <th style="width: 40px">Action</th>
                  </tr>
                  <tr *ngFor="let book of books;index as i ">
                    <td>{{i}}.</td>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.message}}</td>
                    <td>
                      <div>
                        <div class="col-md-8">
                          <div class="thumbnail">
                        <img src="{{book.image}}">
                        </div>
                        </div>

                        <!-- <div class="progress-bar progress-bar-danger" style="width: 55%"></div> -->
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm ml-1" (click)="editdata(book)"><i class="fa fa-file-text-o"></i></button>
                      <button type="button" class="btn btn-danger btn-sm ml-1" (click)="delete(book)"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>



                </tbody></table>
              </div>
              <!-- /.box-body -->

            </div>

          </div>
          <div class="col-md-6">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Quick Example</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form role="form" [formGroup]='formgroup' (ngSubmit)="onSubmit(formgroup)">
                <div class="box-body">
                  <div class="form-group">
                    <!-- <label for="exampleInputEmail1">ID</label> -->
                    <input type="hidden" formControlName="_id" class="form-control" id="exampleInputEmail1" placeholder="_id">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">ID</label>
                    <input type="text" formControlName="id" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" formControlName="title" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Message</label>
                    <input type="text" formControlName="message" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <input type="file" name="image" (change)="fileProgress($event)" />
                </div>
                <div *ngIf="fileUploadProgress">
                    Upload progress: {{ fileUploadProgress }}
                </div>
                <div class="image-preview mb-3" *ngIf="previewUrl">
                    <img [src]="previewUrl" height="300" />
                </div>

                <div class="mb-3" *ngIf="uploadedFilePath">
                    {{uploadedFilePath}}
                </div>

                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

          </div>
        </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->


      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
