
  <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="assets/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{email}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                  </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active">
              <a routerLink="/admindashboard">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            
            </li>
            <li class="treeview">
                <a href="#">
                  <i class="fa fa-pie-chart"></i>
                  <span>User</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a routerLink="/user"><i class="fa fa-circle-o"></i> Add User</a></li>
                  <li><a routerLink="/user/userslist"><i class="fa fa-circle-o"></i>Users List</a></li>
                 
                </ul>
              </li>
         
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Library</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a routerLink="/library/issuebook"><i class="fa fa-circle-o"></i> Issue book</a></li>
                <li><a routerLink="/library/managebook"><i class="fa fa-circle-o"></i> Manage book</a></li>
               
              </ul>
            </li>
            <li class="">
              <a routerLink="/logout">
                <i class="fa fa-dashboard"></i> <span>Logout</span>
              </a>
            
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>