<div class="login-box">
        <div class="login-logo">
          <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg">Sign in </p>
      
          <form [formGroup]='logForm' (ngSubmit)="onSubmit(logForm)">
            <div class="form-group has-feedback">
              <input type="text" formControlName="email" class="form-control" placeholder="Email">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            </div>
            <div class="form-group has-feedback">
              <input type="text" formControlName="password" class="form-control" placeholder="Password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            </div>
            <div class="row">
              <div class="col-xs-8"></div>
              <!-- /.col -->
              <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
      
          <div class="social-auth-links text-center">
            <p>- OR -</p>
           
          </div>
          <!-- /.social-auth-links -->
       
      <button class="btn btn-block btn-block btn-flat" (click)="regiaterPage()">Register</button>
        </div>
        <!-- /.login-box-body -->
      </div>
